<h1>About</h1>
<p>
	<%=	link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonerails.org" %>
	in one month. This is a sample application.
</p>

